sentence-transformers
faiss-cpu
PyPDF2
pdf2image
pymupdf
pillow
pytesseract
aiosqlite
google-genai
groq
streamlit
streamlit-chat
streamlit-feedback
apscheduler
torch
numpy
pytest
pytest-asyncio
python-dotenv
rank_bm25
streamlit
streamlit-chat
streamlit-feedback

sentence-transformers
transformers
huggingface-hub

faiss-cpu
torch
numpy
scikit-learn
pandas

PyPDF2
pdf2image
pymupdf
pillow
pytesseract

aiosqlite
google-genai
groq
apscheduler
python-dotenv
rank_bm25

pytest
pytest-asyncio